<div class="article">
  <h2><%= s("Contact the Locos por Rails 2009 Conference Organizers") %></h2>
  <p>
    <%= s("contact_the_organizers") %>
  </p>
  <style>
    .gravatar {float:left;padding: 3px;}
  </style>

  <h2><%= s("The hard working organizers") %></h2>
  <div class="clearfix">
    <p class="organizer">
      <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("tom@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Tom Henrik Aadland
      </p>
      <p>
        tom(at)locosxrails.com
      </p>
    </p>
    <p class="organizer">
      <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("emmanuel@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Emmanuel Oga
      </p>
      <p class="email">
        emmanuel(at)locosxrails.com
      </p>
    </p>
    <p class="organizer">
      <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("norman@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Norman Clarke
      </p>
      <p class="email">
       norman(at)locosxrails.com
      </p>
    </p>
  <!-- <p class="organizer">
    <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("eric@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Eric Northam
      </p>
      <p class="email">
        eric(at)locosxrails.com
      </p>
    </p>
  <p class="organizer">
    <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("adrian@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Adrian Mugnolo
      </p>
      <p class="email">
        adrian(at)locosxrails.com
      </p>
    </p>
  <p class="organizer">
    <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("martin@locosxrails.com") %>" />
      </div>      
      <p class="name">
      Martín Buceta
      </p>
      <p class="email">
        martin(at)locosxrails.com
      </p>
    </p>
  <p class="organizer">
    <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("rafael@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Rafael Bidegain
      </p>
      <p class="email">
        rafael(at)locosxrails.com
      </p>
    </p> -->
  <p class="organizer">
    <div class="gravatar">
        <img width="53" height"53" border="0" src="<%= gravatar_url("emilio@locosxrails.com") %>" />
      </div>      
      <p class="name">
        Emilio Tagua
      </p>
      <p class="email">
        emilio(at)locosxrails.com
      </p>
    </p>
  </div>
</div>

