<div class="article">
 <h2><%= s("Locos por Rails Conference in Buenos Aires Argentina") %></h2>
 <p>
   <%= s("Attention Ruby on Rails enthusiasts") %>
 </p>
<p>
  <%= s("Interested in attending?") %>
</p>
</div>

<div>
  <h2><%= s("When?") %></h2>
  <p>
    <%= s("April 3-4 2009") %><br/>
    <%= s("9:00 AM - 6:00 PM") %>
  </p>
</div>

<div>
  <h2><%= s("Who?") %></h2>
  <p>
    <%= s("who's coming") %>
  </p>   
</div>

<div>
  <h2><%= s("Where?") %></h2>
  <p>
    <a href="http://www.palermo.edu/">Universidad de Palermo</a><br/>
    Mario Bravo 1050<br/>
    Ciudad Autónoma de Buenos Aires<br/>
    Argentina
  </p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?client=safari&amp;q=Mario+Bravo+1050+Buenos+Aires+Argentina&amp;oe=UTF-8&amp;ie=UTF8&amp;split=0&amp;gl=us&amp;ei=lJyxSZfBN56Dtwfpx-3DBw&amp;s=AARTsJrMHnY2jFpspoiFvXUTFNNdUah1ug&amp;ll=-34.588987,-58.41156&amp;spn=0.024731,0.036478&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?client=safari&amp;q=Mario+Bravo+1050+Buenos+Aires+Argentina&amp;oe=UTF-8&amp;ie=UTF8&amp;split=0&amp;gl=us&amp;ei=lJyxSZfBN56Dtwfpx-3DBw&amp;ll=-34.588987,-58.41156&amp;spn=0.024731,0.036478&amp;z=14&amp;iwloc=addr&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>