<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> -->

<!-- Copyright (c) 1999-2008, Scratching Heads -->

<html lang="<%= @lang %>"><!-- Edit -->

<head>

      <title><%= s("Locos X Rails") %></title><!-- Edit -->

      <meta name="Title" content="CompanyName" />
      <meta name="Author" content="Nicolas Calabrese" />
      <meta name="Keywords" content="Ruby Rails Argentina Buenos Aires Tango Tango LocosPorRails LocosXRails Locos" />
      <meta name="Description" content="Rails conference Buenos Aires Argentina" />

      <meta name="Robots" content="index,follow" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen, projector" />
      <link href="/stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />

      <!-- IE COMPATIBILITY -->
            <!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script><![endif]-->
      <!-- E N D -->

</head>

<body id="homepage">
      <noscript><p class="alert">You need to activate Flash and Javascript in order to see this site full functional.</p></noscript>
            <!-- ALERT MESSAGE FOR OLD IE VERSIONS -->
            <!--[if lt IE 7]><div><p class="alert browser-support">Using a modern browser that supports web standards ensures that the site's full visual experience is available.  Consider <a href="http://www.opera.com/products/desktop/">upgrading your browser</a> if you are using an older technology.</p></div><![endif]-->
      <!-- E N D -->

<div id="wrapper" class="layout-1">

<!-- SITE HEADER  -->

      <div id="header">

            <h1> <!-- Logo -->
                  <a href="/" title="Click here to go to the homepage">
                        <img src="/images/content/logo.jpg" alt="Locos x Rails" width="243" height="54" />
                  </a>
            </h1> <!-- /Logo -->
            <h2><%# = s("Ruby Rails Argentina") %>
               <span id="language_selector">
                <% if @lang == 'en' %>
                  <a href="/?lang=es" class="ar">Castellano</a>
                <% else %>
                  <a href="/?lang=en" class="<%= random_flag %>">English</a>
                  <% end %>
                </span>

            </h2>
                       <div class="controls"><!-- Site navigation -->

                  <ul class="nav">
                        <li><a href="/" alt="Home"><%= s("Home")%></a></li>
                        <!-- <li><a href="/papers" alt="Speakers"><%= s("Call for Participation Overview") %></a></li> -->
                        <li><a href="http://eventioz.com/events/locos-x-rails-conference/speakers"><%= s("Conference Speakers") %></a></li>
                        <li><a href="http://eventioz.com/events/locos-x-rails-conference/agenda"><%= s("Schedule") %></a></li>
                        <li><a href="/sponsors" ><%= s("Sponsors") %></a></li>
                        <li><a href="/registration" ><%= s("Registration") %></a></li>
                        <li><a href="/presenters-kit" ><%= s("Presenters kit") %></a></li>
                        <li><a href="http://www.google.com/calendar/hosted/locosxrails.com/embed?src=locosxrails.com_fv8t0ht74d7ofcu2tsm1482gus%40group.calendar.google.com&amp;ctz=America/Argentina/Buenos_Aires" ><%= s("Calendar") %></a></li>
                        <li><a href="/contact" alt="Contacto"><%= s("Contact") %></a></li>
                  </ul><!-- /nav -->

            </div><!-- /Site navigation -->

            <div class="featured">
                  <h3><%= s("Conference") %></h3>
                  <div>
                    <h4><%= s("April 3-4 2009") %></h4>
                    <p>Buenos Aires, Argentina</p>
                  </div>
                  <a class="button" title=<%= s("More Information") %> href="/registration">
                     <%= s("More Information") %>
                  </a>
            </div><!-- /main -->

      </div>



<!-- SITE CONTENT  -->

      <div id="content" class="clearfix">

            <div class="main">
              <%= yield %>
            </div><!-- /main -->

            <div class="related">

                  <div class="section">
     		            <h2><%= s("Sponsors") %></h2>
                    <p>
                      <a href="http://hashrocket.com" target="_blank"><img src="/images/company_logos/hashrocket_small_grey.jpg" alt="hashrocket" /></a>
                    </p>
                    <p>
                      <a href="http://engineyard.com" target="_blank"><img src="/images/company_logos/engine_yard_logo.png" alt="engine yard" /></a>
                    </p>
                    <p>
                      <a href="http://www.palermo.edu/" target="_blank"><img src="/images/company_logos/upalermo.png" alt="universidad de palermo" /></a>
                    </p>
                    <p>
                      <a href="http://www.rubycentral.org/" target="_blank"><img src="/images/company_logos/rubycentral.jpg" alt="ruby central" /></a>
                    </p>
                    <a href="http://site2009.locaweb.com.br" target="_blank"><img src="/images/company_logos/locaweb_grey_small.png" width="200" alt="locaweb" /></a>
                  </div> 
           	  <div class="section">
                <div id="twitter_div">
                  <h2><a href="http://twitter.com/locosxrails">@locosxrails</a></h2>
                  <ul id="twitter_update_list"></ul>
                  <a href="http://twitter.com/locosxrails" id="twitter-link" style="display:block;text-align:right;"><%= s("follow us on Twitter") %></a>
                  </div>
                  <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
                  <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/locosxrails.json?callback=twitterCallback2&amp;count=10"></script>		          
		            </div>
                  
           	  <div class="section">
		  <!-- Include the Google Friend Connect javascript library. -->
		  <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>

		  <!-- Define the div tag where the gadget will be inserted. -->
		  <div id="div-1228577933795" style="width:210px;border:1px solid #cccccc;"></div>
  		  <!-- Render the gadget into a div. -->
  		  <script type="text/javascript">
  		  var skin = {};
  		  skin['HEIGHT'] = '250';
  		  skin['BORDER_COLOR'] = '#cccccc';
  		  skin['ENDCAP_BG_COLOR'] = '#D8D8D8';
  		  skin['ENDCAP_TEXT_COLOR'] = '#333333';
  		  skin['ENDCAP_LINK_COLOR'] = '#0000cc';
  		  skin['ALTERNATE_BG_COLOR'] = '#ffffff';
  		  skin['CONTENT_BG_COLOR'] = '#ffffff';
  		  skin['CONTENT_LINK_COLOR'] = '#0000cc';
  		  skin['CONTENT_TEXT_COLOR'] = '#333333';
  		  skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
  		  skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
  		  skin['CONTENT_HEADLINE_COLOR'] = '#333333';
  		  google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
  		  google.friendconnect.container.renderMembersGadget(
  		   { id: 'div-1228577933795',
  		      site: '10155572399577033540'},
  		        skin);
  			</script>
		</div>
                  <div class="section">
                    <!--
                        <h2>Ejemplo lista</h2>
                        <ul>
                        	<li>
                                    <h3>10/10/2008</h3>
                                    <p>exerci tation ullamcorper</p>
                        	</li>
                        	<li>
                                    <h3>10/10/2008</h3>
                                    <p>exerci tation ullamcorper</p>
                        	</li>
                        </ul>
                        <p><a href="">m&aacute;s...</a></p>
                        -->
                  </div>

                  <div class="section">
                    <!--
                        <h2>Ejemplo parrafo</h2>
                        <p>Sanim ad minim veniam, quis nostrud exe sampi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritat em ilemnas. </p>
                        <p><a href="">m&aacute;s...</a></p>
                        -->
                  </div>

            </div><!-- /related -->

      </div><!-- /contents -->


<!-- SITE FOOTER  -->
      <div id="footer">

            <p>&copy; 2008-2009, <%= s("Locos X Rails") %>
                        <!-- <p class="feed"><a href="">Rss Feed</a>.</p> -->

      </div>


</div>
<script src="http://locosxrails.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=D8D8D8" type="text/javascript"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6588984-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
